:root {
    --tittle-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothig: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Ubuntu', sans-serif;
    color: var(--tittle-color);
}

/* BOX MODE

Modelo de caixa
Toda caixa tem
Largura, altura, espaçamento, preenchimento
bordas, cord, fundo, maneira que é vista pelo html (display),
posicionamento, alinhamento

*/